@model Result
@{
    ViewData["Title"] = "Index";
}

<div class="text-center form-group">
    <h1 class="display-4">Your Result</h1>
    <p>You had <span class="text-primary">@Model.Score</span> / <span class="text-primary">@Model.Total</span></p>    
</div>
